.div-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  
  .main_component {
    height: 100vh;
  }
  
  form div {
    padding: 5px 5px 5px 5px;
  }
  
  form {
    display: inline-grid;
    width: 50%;
    align-self: center;
  }
  
  .subForm {
    width: 100%;
    display: inline-grid;
  }
  
  .buttons {
    padding: 5px;
  }
  
  button {
    width: 100px;
  }
  
  
  .loading-indicator {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading-indicator::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.3);
  }
  
  